<p style="color: green"><%= notice %></p>

<%= render @novelty %>

<div>
  <%= link_to "Edit this novelty", edit_novelty_path(@novelty) %> |
  <%= link_to "Back to novelties", novelties_path %>

  <%= button_to "Destroy this novelty", @novelty, method: :delete %>
</div>
